<h1>All events</h1>

<p><%= link_to "Add Event", new_event_path %></p>

<% @events.each do |e| %>
  <div>
	<h4><%= link_to e.title, e %></h4>
	<p><%= time_format(e.start_date) %></p>
	<p><%= time_format(e.end_date) %></p>
	<p><%= e.venue %>, <%= e.location %></p>
  </div>
<% end %>
